[submodule "src/.vim/bundle/vim-go"]
	path = src/.vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "src/.vim/bundle/rust.vim"]
	path = src/.vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "src/.vim/bundle/vim-perl6"]
	path = src/.vim/bundle/vim-perl6
	url = git@github.com:jmaslak/vim-perl6
[submodule "src/.vim/bundle/vim-lucius"]
	path = src/.vim/bundle/vim-lucius
	url = https://github.com/jonathanfilip/vim-lucius
